.App {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #F5FFFA;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  padding: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  padding: 50px;
  color: #000;
  min-height: 100vh;
  background: #FFF8DC;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input:focus {
  outline: none;
}

.checkbox-item{
  width: 20px;
  height: 20px;
}

button {
  width: 80px;
  /* padding: 0.3em; */
  margin: 2px;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

button {
  margin-top: 0;
  font-size: 1em;
  /* background-color: #FFF8DC; */
  border: 1px solid #828691;
  border-radius: 7px;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  margin-top: 5px;
  width: 500px;
  height: 30px;
  padding: 2px;
  text-align: left;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #00FF7F;
  border-radius: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

.divLi{
  display: flex;
  justify-content: space-around;
}